# Core Framework
fastapi
uvicorn

# LLM & AI Libraries
langchain
langchain-google-genai
langchain-openai
spacy
torch
transformers
sentence-transformers
scikit-learn
tiktoken
openai
google-ai-generativelanguage
huggingface-hub

# Data Handling & Utilities
numpy
PyMuPDF
python-docx
SQLAlchemy
PyMySQL
python-dotenv
